* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: beige;
  background-image: url('fundo-da-tela-na-cor-cinzenta-neutra-textura-de-linho-66181500.jpg');
}

.color-palette {
  display: inline-block;
  border: black solid 1px;
}

.color {
  display: inline-block;
  border: black solid 1px;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 5px;
}

#preto {
  background-color: black;
}

#vermelho {
  background-color: red;
}

#azul {
  background-color: blue;
}

#amarelo {
  background-color: yellow;
}

.Buttons {
  display: flex;
  justify-content: center;
}

#pixel-board {
  border: black solid 1px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: wheat;
  margin-top: 10px;
  justify-content: center;
  flex-flow: nowrap column;
  line-height: 0px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  border-radius: 5px;
}

#button-random-color {
  margin-top: 10px;
}

.container {
  display: flex;
  /* width: 100%; */
  justify-content: center;
}
