.color-palette {
    display: inline-block;
    border: black solid 1px;
}

.color {
    display: inline-block;
    border: black solid 1px;
    width: 40px;
    height: 40px;
}

#preto {
    background-color: black;
}

#vermelho {
    background-color: red;
}

#azul {
    background-color: blue;
}

#amarelo {
    background-color: yellow;
}