body {
  text-align: center;
}

.color-palette {
  display: inline-block;
  border: black solid 1px;
}

.color {
  display: inline-block;
  border: black solid 1px;
  width: 80px;
  height: 80px;
  margin: 10px;
}

#preto {
  background-color: black;
}

#vermelho {
  background-color: red;
}

#azul {
  background-color: blue;
}

#amarelo {
  background-color: yellow;
}
